.bg-black {
    background-color: black;
}

.font-div{
    width:30%;
}

img{
    width:100%;
    height:100%;
}


.column {
  height: 80px;        /* set same height for all images */
  object-fit: contain;  /* keep aspect ratio */
  margin: auto;
  display: block;
}

